<GameMap>
    <maps>
        <map>
            <name>village</name>
            <tileFile>village.tmx</tileFile>
            <locations>
                <location>
                    <coordinates>
                        <x>15</x>
                        <y>13</y>
                    </coordinates>
                    <eventDetails>
                        <eventType>
                            changeMap
                        </eventType>
                        <newMap>guild</newMap>
                        <coordinates>
                            <x>14</x>
                            <y>1</y>
                        </coordinates>
                    </eventDetails>
                </location>

                <location>
                    <coordinates>
                        <x>8</x>
                        <y>13</y>
                    </coordinates>
                    <eventDetails>
                        <eventType>
                            changeMap
                        </eventType>
                        <newMap>healer</newMap>
                        <coordinates>
                            <x>7</x>
                            <y>1</y>
                        </coordinates>
                    </eventDetails>
                </location>
            </locations>
        </map>
        <map>
            <name>guild</name>
            <tileFile>guild.tmx</tileFile>
            <locations>
                <location>
                    <coordinates>
                        <x>14</x>
                        <y>0</y>
                    </coordinates>
                    <eventDetails>
                        <eventType>
                            changeMap
                        </eventType>
                        <newMap>village</newMap>
                        <coordinates>
                            <x>15</x>
                            <y>12</y>
                        </coordinates>
                    </eventDetails>
                </location>
                <location>
                    <coordinates>
                        <x>13</x>
                        <y>0</y>
                    </coordinates>
                    <eventDetails>
                        <eventType>
                            changeMap
                        </eventType>
                        <newMap>village</newMap>
                        <coordinates>
                            <x>15</x>
                            <y>12</y>
                        </coordinates>
                    </eventDetails>
                </location>
                <location>
                    <coordinates>
                        <x>15</x>
                        <y>0</y>
                    </coordinates>
                    <eventDetails>
                        <eventType>
                            changeMap
                        </eventType>
                        <newMap>village</newMap>
                        <coordinates>
                            <x>15</x>
                            <y>12</y>
                        </coordinates>
                    </eventDetails>
                </location>
                <location>
                    <coordinates>
                        <x>15</x>
                        <y>13</y>
                    </coordinates>
                    <eventDetails>
                        <eventType>
                            dialog
                        </eventType>
                        <newMap>bob</newMap>
                        <coordinates>
                            <x>15</x>
                            <y>12</y>
                        </coordinates>
                    </eventDetails>
                </location>
                <location>
                    <coordinates>
                        <x>15</x>
                        <y>13</y>
                    </coordinates>
                    <eventDetails>
                        <eventType>
                            combat
                        </eventType>
                        <newMap>rat</newMap>
                        <coordinates>
                            <x>14</x>
                            <y>8</y>
                        </coordinates>
                    </eventDetails>
                </location>
            </locations>
        </map>
        <map>
            <name>healer</name>
            <tileFile>healer.tmx</tileFile>
            <locations>
                <location>
                    <coordinates>
                        <x>7</x>
                        <y>5</y>
                    </coordinates>
                    <eventDetails>
                        <eventType>
                            dialog
                        </eventType>
                        <newMap>daphne</newMap>
                        <coordinates>
                            <x>7</x>
                            <y>4</y>
                        </coordinates>
                    </eventDetails>
                </location>
                <location>
                    <coordinates>
                        <x>6</x>
                        <y>0</y>
                    </coordinates>
                    <eventDetails>
                        <eventType>
                            changeMap
                        </eventType>
                        <newMap>village</newMap>
                        <coordinates>
                            <x>8</x>
                            <y>12</y>
                        </coordinates>
                    </eventDetails>
                </location>
                <location>
                    <coordinates>
                        <x>7</x>
                        <y>0</y>
                    </coordinates>
                    <eventDetails>
                        <eventType>
                            changeMap
                        </eventType>
                        <newMap>village</newMap>
                        <coordinates>
                            <x>8</x>
                            <y>12</y>
                        </coordinates>
                    </eventDetails>
                </location>
                <location>
                    <coordinates>
                        <x>8</x>
                        <y>0</y>
                    </coordinates>
                    <eventDetails>
                        <eventType>
                            changeMap
                        </eventType>
                        <newMap>village</newMap>
                        <coordinates>
                            <x>8</x>
                            <y>12</y>
                        </coordinates>
                    </eventDetails>
                </location>
            </locations>
        </map>
    </maps>
</GameMap>